body {
 background-image: url("new foto.jpeg");
 background-color: #ffffff;
 background-size: 100%;
}
#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}