{% extends 'form.html' %}

{#    <div class="select2-container">#}
{#        <form id="form" method="POST">#}
{#                {% csrf_token %}#}
{#                    <div class="card text-center">#}
{#                        <div class="card-header">#}
{#                        Zaloguj#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <table>#}
{#                                <div class="select2-container">#}
{#                                    Nazwa użytkownika<input name="username" type="text">#}
{#                                    Hasło<input name="password" type="text">#}
{#                                </div>#}
{#                            </table>#}
{#                            <button form="form" type="submit" class="btn btn-primary btn-block">Zaloguj!</button>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#        </form>#}
{#    </div>#}
