{% extends "base.html" %}
{% block content %}
<p>koszyk, użytkownika {{ cart.user }}</p>
    <uL>
        {%for item in cart.cartproduct_set.all %}
            <li><a href="{% url "product-detail" item.product.id %}">{{ item }}</a> Cena za 1szt: {{ item.product.price_netto }} zł Ilość: {{ item.quantity }}
                {% if user.is_authenticated %}
                   <a href="{{ item.get_delete_url }}"> Delete</a>
                   <a href="{{ item.get_edit_url }}"> Edit</a>
               {% endif %}
            </li>
        {% endfor %}
    <p>Razem do zapłaty:</p>
        <p>Razem netto: {{ netto_summary }} zł</p>
        <p>VAT : {{ summary_vat }} zł</p>
        <p>Razem brutto: {{ brutto_summary }} zł</p>
    </ul>
{% endblock %}