{% extends "base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <h1 class="container">Koszyk</h1>
        {% if message %}
        <div class="alert alert-danger">
            <strong>Uwaga!</strong> {{ message }}
        </div>
        {% endif %}
    </div>
    <div class="container">
        <ol class="list-group">
            {%for item in cart.cartproduct_set.all %}
                <li class="list-group-item">
                <img class="content left-" src="{{ item.product.img.url }}" alt="{{ item.name }}" width="150px">
                <a href="{% url "product-detail" item.product.id %}">{{ item }}</a>
                    Cena za 1szt: {{ item.product.get_brutto_price }} zł
                    Ilość:
                    <a class="btn btn-warning" href="{{ item.remove_quantity }}">-</a>
                    {{ item.quantity }}
                    <a class="btn btn-warning" href="{{ item.add_quantity }}">+</a>
                    {% if user.is_authenticated%}
                       <a class="btn btn-danger" href="{{ item.get_delete_url }}"> Usuń</a>
                   {% endif %}
                </li>
            {% endfor %}
        </ol>
        <div>
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h1 class="card-header">Razem:</h1>
                        <p class="card-text">Razem netto: {{ cart.get_summary_netto }} zł</p>
                        <p class="card-text">VAT : {{ cart.get_summary_vat }} zł</p>
                        <p class="card-text">Razem brutto: {{ cart.get_summary_brutto }} zł</p>
                        {% if cart.discount.is_active %}
                        <p class="card-text">Kod rabatowy: {{ cart.discount }}</p>
                        <p class="card-text">Cena po rabacie: {{ cart.get_summary_brutto_after_discount }} zł</p>
                         {% endif %}
                        <a href="{% url "create-order" %}" class="btn btn-primary" >Złóż zamówienie!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}