{% extends "base.html" %}
{% block content %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-6">{{ category.name }}</h1>
                    {% if perms.eshopp_app.change_category and perms.eshopp_app.delete_category %}
                    <a href="{{ category.get_delete_url }}" class="btn btn-danger" > Usuń kategorie</a>
                    {% endif %}
                </div>
            </div>
        <ul class="container">
            {%for item in category.product_set.all %}
                <li class="list-group-item">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src="{{ item.img.url }}" alt="{{ item.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        {% if item.price_netto %}
                        <p class="card-text">Cena: {{ item.get_brutto_price }} zł </p>
                        {% endif %}
                    </div>
                </div>
                <div class="container">
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Szczegóły</a>
                    {% if user.is_authenticated and item.in_stock%}
                    <a href="{{ item.add_to_cart }}" class="btn btn-success">Dodaj do koszyka</a>
                    {% else %}
                        <button class="btn btn-secondary disable">Produkt niedostępny</button>
                    {% endif %}
                </div>
                </li>
            {% endfor %}
        </ul>
{% endblock %}