{% extends "base.html" %}
{% block content %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-6">{{ category.name }}</h1>
                    <a href="{{ category.get_edit_url }}" class="btn btn-secondary">Dodaj Produkty</a>
                </div>
            </div>
        <ul class="container">
            {%for item in category.products.all %}
                <li class="list-group-item">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src="{{ item.img.url }}" alt="{{ item.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        {% if item.price_netto %}
                        <p class="card-text">Cena: {{ item.get_brutto_price }} zł </p>
                        {% endif %}
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Szczegóły</a>
                        <a href="{{ item.add_to_cart }}" class="btn btn-secondary">Dodaj do koszyka</a>
                    </div>
                </div>
                </li>
            {% endfor %}
        </ul>
{% endblock %}