{% extends 'base.html' %}
{% block content %}
        <div class="container">
            <div class="card" style="width: 18rem;">
                <div class="card-body center">
                    <h5 class="card-title">Czy na pewno chcesz usunąć {{ product.name }} z koszyka?</h5>
                    <form id="form" method="POST">
                            {% csrf_token %}
                            {{ form.as_table }}
                    </form>
                </div>
            <button form="form" type="submit" class="btn btn-danger btn-block">Usuń!</button>
            </div>
        </div>
{% endblock %}