{% extends "base.html" %}
{% block content %}
<h1 class="jumbotron">Szczegóły zamówienia nr. {{ order.order }}</h1>
       <div class="card text-center">
            <div class="card-header">
                Produkty
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text aligned-end">{{ order.products|linebreaks }}</p>
            </div>
        </div>
    <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-header">Informacje</h1>
                    <p class="card-text">Razem: {{ order.price }} zł</p>
                    <p class="card-text">Opłacono:
                        {% if order.is_payed %}
                            <td class="col-2" style="color:green;">&#9745;</td>
                        {% else %}
                            <td class="col-2" style="color:red;">&#9746;</td>
                        {% endif %}
                    </p>
                    <p class="card-text">W przygotowaniu:
                        {% if order.in_completing %}
                            <td class="col-2" style="color:green;">&#9745;</td>
                        {% else %}
                            <td class="col-2" style="color:red;">&#9746;</td>
                        {% endif %}
                    </p>
                    <p class="card-text">Wysłano:
                        {% if order.is_send %}
                            <td class="col-2" style="color:green;">&#9745;</td>
                        {% else %}
                            <td class="col-2" style="color:red;">&#9746;</td>
                        {% endif %}
                    </p>
                    <p class="card-text">Odebrano:
                        {% if order.in_delivery_done %}
                            <td class="col-2" style="color:green;">&#9745;</td>
                        {% else %}
                            <td class="col-2" style="color:red;">&#9746;</td>
                        {% endif %}
                    </p>
            </div>
    </div>

{% endblock %}