{% extends "base.html" %}
{% block content %}
<p>zamówienie, użytkownika {{ order.user_id.username }}</p>
    <uL>
        {%for item in order.cart_id.cartproduct_set.all %}
            <img src="{{ item.product.img.url }}" alt="{{ item.name }}" width="150px">
            <li><a href="{% url "product-detail" item.product.id %}">{{ item }}</a> Cena za 1szt: {{ item.product.price_netto }} zł Ilość: {{ item.quantity }}
            </li>
        {% endfor %}
    <p>Razem do zapłaty:</p>
        <p>Razem netto: {{ netto_summary }} zł</p>
        <p>VAT : {{ summary_vat }} zł</p>
        <p>Razem brutto: {{ brutto_summary }} zł</p>
    </ul>
{% endblock %}