{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-6">Produkty</h1>
                {% if perms.eshopp_app.add_product %}
                <a href="/add_product/" class="btn btn-secondary">Dodaj Produkt</a>
                {% endif %}

            </div>
        </div>
    <ul class="container">
        {%for item in object_list %}
            <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                        <div class="container" >
                             <div class="card text-center" style="width: auto;">
                                 <img class="card-img-top" src="{{ item.img.url }}" alt="{{ item.name }}">
                                 <div class="card-body">
                                     <h5 class="card-title">{{ item.name }}</h5>
                                         {% if item.price_netto %}
                                            <p class="card-text">Cena: {{ item.get_brutto_price }} zł </p>
                                         {% endif %}
                                 </div>
                            </div>
                            <div class="container">
                                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Szczegóły</a>
                                {% if user.is_authenticated and item.in_stock %}
                                <a href="{{ item.add_to_cart }}" class="btn btn-success">Dodaj do koszyka</a>
                                    {% elif user.is_authenticated and not item.in_stock %}
                                     <button class="btn btn-secondary disable">Produkt niedostępny</button>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Opis</h5>
                            <p class="card-text">{{ item.description }}</p>
                      </div>
                    </div>
                  </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
