{% extends "base.html" %}
{% block content %}
    <img class="card-img-top" src="{{ product.img.url }}" alt="{{ product.name }}" width="100%">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
            <h1 class="display-4">{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>
      </div>
    </div>
    <uL class="list-group">
        <li class="list-group-item">Cena netto: {{ product.price_netto }}</li>
        <li class="list-group-item">Podatek VAT: {{ product.get_procent_vat }}</li>
        <li class="list-group-item">Jest na stanie:
            {% if product.in_stock %}
                <td class="col-2" style="color:green;">&#9745;</td>
            {% else %}
                <td class="col-2" style="color:red;">&#9746;</td>
            {% endif %}</li>
        <li class="list-group-item">Kategorie:
            {%for item in product.category_set.get_queryset.all %}
                <a href="{{ item.get_absolute_url }}">{{ item }} </a>
            {% endfor %}
        </li>
    </uL>
    {% if user.is_authenticated and item.in_stock%}
        <li class="list-group-item"><a class="btn btn-success" href="{{ product.add_to_cart }}"> Dodaj do koszyka</a></li>
        {% else %}
        <li class="list-group-item"><button class="btn btn-secondary disable">Produkt niedostępny</button></li>
        {% if perms.eshopp_app.delete_product and perms.eshopp_app.change_product %}
        <li class="list-group-item"><a class="btn btn-danger" href="{{ product.get_delete_url }}"> Usuń</a></li>
        <li class="list-group-item"><a class="btn btn-secondary" href="{{ product.get_edit_url }}"> Edytuj</a></li>
        {% endif %}
    {% endif %}
{% endblock %}