{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="jumbotron">
            <h1>{{ customeruser }}</h1>
            <p1>Dane konta</p1>
        </div>
            <ul class="list-group">
                <li class="list-group-item">Imie: {{ customeruser.first_name }}</li>
                <li class="list-group-item">Nazwisko: {{ customeruser.last_name }}</li>
                <li class="list-group-item">email: {{ customeruser.email }}</li>
                <li class="list-group-item">Zamówienia:
                {%for item in customeruser.order_set.all %}
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                {% endfor %}
                </li>
            </ul>
        <a class="btn btn-dark" href="{{ customeruser.get_edit_url }}"> Edit</a>
        <a class="btn btn-danger" href="{{ customeruser.get_delete_url }}"> Delete</a>
        <a class="btn btn-warning" href="{{ customeruser.get_edit_pass_url }}"> Zmień hasło</a>
    {% endif %}
{% endblock %}