{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="jumbotron">
            <h1>{{ user }}</h1>
            <p1>Dane konta</p1>
        </div>
            <ul class="list-group">
                <li class="list-group-item">Imie: {{ user.first_name }}</li>
                <li class="list-group-item">Nazwisko: {{ user.last_name }}</li>
                <li class="list-group-item">email: {{ user.email }}</li>
                <li class="list-group-item">adres: {{ user.profile.adres }}</li>
                <li class="list-group-item">telefon: {{ user.profile.phone }}</li>
                <li class="list-group-item">Zamówienia:
                {%for item in user.order_set.all %}
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                {% endfor %}
                </li>
            </ul>
        <a class="btn btn-dark" href="/edit_user/"> Edytuj Dane osobowe</a>
        <a class="btn btn-dark" href="/edit_profil/"> Edytuj Adres i tel</a>
        <a class="btn btn-warning" href="/password_change/"> Zmień hasło</a>
        <a class="btn btn-danger" href="/del_profil/"> Usuń</a>
    {% endif %}
{% endblock %}